<!DOCTYPE html>
<html lang="en">

<head>
  <title> Product view </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="Todo">
  <meta name="description" content="An application to store task">

  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/fonts/flat-icon/flaticon.css">
  <link rel="stylesheet" href="/assets/css/style.css">

  <script src="/assets/js/jquery-3.2.1.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <style>
     .sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  /* z-index: 1; */
  margin: 0;
  padding: 0;
  background-color: rgb(41, 35, 54);
  overflow: auto;
  
}

.sidebar a {
  padding: 16px;
  text-decoration: none;
  color: white;
  display: block;
}

.sidebar a:hover {
  color:tomato;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px; /* Same as the width of the sidenav */
}
@media screen and (max-width: 700px) {
  .sidebar {width:100%; height: auto; position:relative; }
  .sidebar a { float: left;}
  div.content {margin-left: 0;}
}


@media screen and (max-width: 400px) {
  /* .sidenav {padding-top: 15px;} */
  .sidebar a { text-align:center; float: none;}
}
  </style>
</head>

<body>

    <nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">
      <a href="#" class="navbar-brand"> Property Inventory </a>
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
        
          </ul>
      </div>
      <!-- <form class="form-inline" >
        
          <input type="text" class="form-control mr-sm-2" placeholder="Search" >
          <button type="button" class="btn btn-success mt-2">Search</button>
      </form> -->
    </nav>
    <!-- alert div -->
    <div class="alert alert-success alert-dismissible" id="signal" style="display:none; text-align: center;"> product removed </div>
    <!-- end alert div -->    
  <div class="sidebar">
    <a class="active" href="/"> Dashboard </a>
    <a href="/product/add">Add new shoes</a>
    <a href="/product/show"> View product</a>
    <a href="/cart/"> Cart </a>
  </div>
         
  <div class="content">
  <div class="container main" >

    <h1 style="text-align: center; color:rgb(11, 11, 78)"> VIEW PRODUCTS </h1>

    <div class="container">

      <table class="table">

        <thead>
          <tr>
            <th>product name</th>
            <th>price</th>
          </tr>
        </thead>
        <% response.forEach((Product)=> { %>
          <tbody>
            <tr>
              <td>
                <%=Product.productname %>
              </td>
              <td>
                <%= Product.productprice%>
              </td>
              <td><button class="bnt btn btn-warning" prdID="<%=Product._id%>"> Remove </button></td>
            </tr>

          </tbody>
          <% }); %>
      </table>

      <div class="item-total">
        <strong> Total: </strong>
        <span>
          <%=total%>
        </span>
      </div>
      <div style="text-align: center;">
        <button class="btn btn-primary remove"> PURCHASE </button>
      </div>
    </div>
  </div>
</div>

</body>
<script>
  $(document).ready(() => {
    
    $('.bnt').click(function () {
      
      let productID = $(this).attr('prdID');

      $.post('/cart/deleteCartItem', { 'cartItemId': productID }, function (response) {
        if (response.code == 1) {
          //  alert(response.message);
           $("#signal").css("display", "block");
           setTimeout(function(){
            location.reload();
           }, 2000); 
          
          
        }
      })

    })

    $('.remove').click(function () {

    })

  });
</script>

</html>